/*	author:Harpreet Parmar
		date:9 Nov 2017
*/
body {
     background-image: url("images/picture6.jpg");
}
label.test {
    font-family: verdana;
    font-size: 20px;
}
input, textarea{
    background-color:#d5f4e6;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=mail], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #303030;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset] {
    width: 100%;
    background-color: #303030;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #000000;
}

input[type=reset]:hover {
    background-color: #000000;
}

#divOverall {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#wrapper {
    width: 100%;
    overflow: hidden;
    padding: 2px;
    border: red;
    border-radius: 1px;
}

#multipleInsideWrapper {
    width: 49%;
    float:left;
    padding:2px;
}

#multipleInsideWrapper {
    width: 49%;
    float:left;
    padding:2px;
}

#multipleInsideWrapper {
    width: 49%;
    float:left;
    padding:2px;
}

#multipleImageWrapper{
    overflow: hidden;
    padding-left: 10%;
}

h1{
    color: #d5f4e6;
}

}
body {
    background-image: url("images/background.png");
}
