/*
Styles Sheet to control consistency across all pages

Author: Sam Purdy, Harpreet , Sean

Final edits and style consistency applied on all pages by: Sean Purtill
*/

/* index page styles */
/* Author:Sam */
html, body{
       background: url(Images/grey.jpg);
       background-size: cover;
       margin: 0px;
       padding: 0px;

}


.header-container{

        width: 100%;
        height: 300px;
        border-left: none;
        border-right: none;
        position: relative;
        padding: 20px;
        margin-bottom: 30px;
        
} 

.video-container{

        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 1;
        height: 100%;
        width: 100%;
        overflow: hidden;

}

video{
        position: absolute;
        z-index: -1;
        opacity: 1;
        width: 100%;

        
}


h1
{
    
    padding: 20px;
    margin-top: 25px;
    font-size: 3em;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;

    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  

    display: inline-block;
    position: absolute;   
    
}


#logo
{  
    margin: 15px;
    border: solid black 2px;
    border-radius: 8px;
   
}


h2
{
    font-size: 35px;
    text-align: center;
    font-family: 'Norican', cursive;
    padding: 10px;
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;

}

#copyright
{
    text-align: right;
    font-family: 'Norican', cursive;
    font-size: 20px;

    
}

@media(max-width:520px)
{

    #profilelink
    {
        visibility: hidden;
    }
   .header-container{
        margin-top:148px;
   }


   h1{
           font-size: 30px;
           display: inline;
   }

   h2{
        
        font-size: 20px;
   }

   #logo{
           height: 70px;
           width: 70px;
   }
   

    ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 200px;
            width: 100%;   
    }

    li{

            float: none;
    }
    
    li a 
    {
            display: block;
            padding: 8px 16px;
            text-decoration: none;
    }

            
}

/* -------------------------slideshow styles----------------------- */

#carouseldiv
{
        border: solid black 1px;
}
.d-block
{

        width: 100%;
        max-height: 25em;
        margin: 0;
}


 .card-block
 {
    font-size: 25px;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    padding: 15px;
    background-image: url(Images/grey.jpg);
 }

 #PackageImage{
        margin-bottom: 10px;
        height: 150px;
        width: auto;
        box-shadow: 10px 10px 5px #888888;

 }

 .card-text
 {
        padding: 10px;

 }

 .btn
{
        margin: 5px;
}

/* -------------------------------------------------------------- */

#survey
{
    font-size: 18px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    bottom: 2px;
    padding: 5px;
}

/* style to set the login page content at the right height on the page */

.Login_Content
{
    position: relative;
    top: 200px;
}

/* set the form labels on the login page size and font weight */
.labels
{
    font-size: 25px;
    font-weight: bold;
}

/* Contact Page Styles */
/* Author: Sean */

    #storefronttable    {
        width: 100%;
        padding: 30px 30px;
        text-align: center; 
        vertical-align: middle;        
    }
       
#storefront
    {
        width: 500px;
        box-shadow: 10px 10px 5px #888888;
        border: solid black 1px;
        height: 150px;
        border-radius: 5px;
    }

/*style for stores contact information    */
    #table1 {
/*     border: 2px solid rgb(0, 0, 0);  */  
        font-size: 25px;
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }

/*style for the calgary staff contacts    */
 #table2 
    {
    font-size: 20px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: none;
    }
    
/*style for the okatoks contacts    */
 #table3 
    {
    font-size: 20px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: none;
    }
 
/*style to make the table lines highlight on hover    */
#table2 tr:hover{background-color:#f5f5f5}    
#table3 tr:hover{background-color:#f5f5f5}  

/* --------------------------------------------------------------- */

/* register page styles */
/* Author: Harpreet */

label.test {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
input, textarea{
    background-color:#d5f4e6;
}

.customerfield, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.customerpassword, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.customernumber, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.customeremail, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submitcustomer {
    width: 100%;
    background-color: #303030;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#resetcustomer {
    width: 100%;
    background-color: #303030;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submitcustomer:hover {
    background-color: #000000;
}

#resetcustomer:hover {
    background-color: #000000;
}

#divOverall {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#wrapper {
    width: 100%;
    overflow: hidden;
    padding: 2px;
    border: red;
    border-radius: 1px;
}

#multipleInsideWrapper {
    width: 49%;
    float:left;
    padding:2px;
}

#multipleInsideWrapper {
    width: 49%;
    float:left;
    padding:2px;
}

#multipleInsideWrapper {
    width: 49%;
    float:left;
    padding:2px;
}

#multipleImageWrapper{
    overflow: hidden;
    padding-left: 10%;
}

/* --------------------------------------------------------------- */