/*all the jazz---------------------------------------------------------------------*/

* {
	font-family: Aharoni;	
    margin: 0;
    padding: 0;
}
/*header bar---------------------------------------------------------------------*/
header 
    {
	
	width: 100%;
	font-family: Aharoni;
	Font-size: 60px;
	font-weight: bold;
	color: #fff31e;	
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 30px;
	text-shadow: 4px 6px black;
	font-style: italic;
	
	}

/*text popup in reg---------------------------------------------------------------------*/
#sidebar 
    {
    position: fixed;
    width: 15%;
    height: 35px;
    border-radius: 10px;
    
    right: 50%;
    bottom: 30%;
    visibility: hidden;
    vertical-align: text-bottom;
    text-align: center;
    
    }
/*sky background---------------------------------------------------------------------*/
body {

    background-image: url(photos/bluesky.jpg);
	background-size: cover;

}
/*footer bar---------------------------------------------------------------------*/
footer {

	background-color: rgba(255,255,100, 0.0);
	position: fixed;
	height: 20px;
	width: 100%;
	bottom: 0px;
    color: cornflowerblue;

    }

footer:hover {
    background-color: rgba(0,0,255, 1);
    color: gold;
    
}

footer.active {
    background-color: rgba(0,0,255, 1);
    color: gold;
    
}




/*nav bar---------------------------------------------------------------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    Font-size: 20px;
    height: 100%; 
    position: relative; 
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
     float: left;
}


li a:hover {
    background-color: #555;
    color: white;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

form {
    padding-left: 80px;
    line-height: 25px;
}
    